p {
  font-family: "Lora", serif;
  font-size: 1.2rem;
}

.btn-pill {
  border-radius: 3000px;
}


a.btn, h1, h2 {
  text-transform: uppercase;
  font-weight: bolder;
}

#home-cover {
  height: 60vh;

  h1 {
    font-size: 3.5rem;
  }
}