{{ define "main" }}

{{- partial "header.html" . -}}

<div class="container mt-5">

    <div class="row">
        <div class="col-md-12 bg-light p-5">
            <p>Il <strong>Canoa Club Rimini</strong> è un ottimo esempio sportivo nel mondo della canoa e del kayak. Sport e avventura, capace di cogliere le innovazioni, di accettarle facendole sue, attento ai cambiamenti senza dimenticare le sue origini. Il nostro club è l’unione di tante persone che rappresentano l’amore per questo sport.</p>
            <p>Per informazioni o per conoscere tutti i nostri servizi, ti consigliamo di contattarci o di venirci a trovare nelle nostre sedi.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 home-block home-image-block p-0">
            <!-- Image here -->
            <img src="/images/about_us_hq.jpg" alt="">
        </div>
        <div class="col-md-6 home-block text-justify p-5 bg-light">
            <h2>Sede Ufficiale</h2>
            <hr class="w-100" />
            <p>
                Sulle sponde del fiume Marecchia ed estremamente vicino alla sua foce, in un’oasi verde lontana dal traffico cittadino, sorge la sede principale del Canoa Club Rimini.
                Qui troverai tutti i servizi necessari, i giusti spazi ed il materiale utile per esercitarti e per uscire in mare aperto con pochissime pagaiate.
                Questa è anche sede operativa dove il Presidente e Consiglio esercitano le funzioni stabilite.
            </p>
            <p>
                La sede è aperta tutti i Giovedì non festivi dalle 21 alle 23, per chiarimenti sulle attività turistiche, di formazione e competitive.
            </p>
            <p>
                A disposizione dei soci materiale illustrativo e visivo riviste, manuali e dvd.
            </p>
            <a href="/contatti" class="btn btn-primary btn-pill w-100 p-2 mt-3">Vieni a trovarci</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 home-block order-1 order-md-1 order-sm-2 p-5 bg-light">
            <h2>Il corso su misura per te</h2>
            <hr class="w-100" />
            <p>
                Da Maggio a Settembre, nello <strong>stabilimento balneare</strong> numero <strong>14/15</strong> di
                <strong>Viserba</strong>, esattamente di fronte all’International Italia Family Camping Village.
                Una lunga distesa di sabbia dorata e fine; un fondale
                che digrada dolcemente in un mare azzurro e cristallino. Condizioni climatiche eccellenti, in questo
                angolo di litorale riminese; vero e proprio bacino naturale.
            </p>
            <p>
                E’ qui che si tengono i corsi alle scolaresche ed ai gruppi numerosi, grazie all’enorme spazio a
                disposizione. Nel periodo estivo, questa sede rappresenta il punto d’incontro anche per i corsi
                individuali e per i due OpenDay organizzati dal Club. E’ qui che tutti i soci, in regola con
                l’iscrizione annuale, possono usufruire di tutto il materiale occorrente.
            </p>
            <a href="/corsi-canoa-kayak" class="btn btn-primary btn-pill w-100 p-2 mt-3">Scopri i corsi</a>
        </div>
        <div class="col-md-6 home-block home-image-block order-2 order-md-2 order-sm-1 p-0">
            <!-- Image here -->
            <img src="/images/about_us_summer_hq.jpg" alt="">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center bg-light py-5">
            <h2>Domande? Contattaci!</h2>
            <p>Visita la pagina dei contatti cliccando qui sotto, saremo felici di rispondere ad ogni domanda!</p>
            <a href="/contatti" class="btn btn-primary btn-pill py-2 px-5 mt-3">Contattaci ora</a>
        </div>
    </div>
</div>

{{ end }}