{{ define "main" }}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Image here -->
        </div>
        <div class="col-md-6">
            <h2>Navighiamo da tempo in queste acque</h2>
            <hr />
            <p>
                La A.S.D <strong>Canoa Club Rimini</strong>, iscritta alla Federazione Italiana Canoa e Kayak (FICK) e
                al CONI, è attiva sul territorio regionale ormai da 40 anni. La società organizza attività ludiche e
                sportive, in mare, in fiume ed in acque piatte.
            </p>
            <p>
                Il C.C.R. promuove l’avvicinamento a questo meraviglioso sport a tutti coloro che vogliono provare
                l’esperienza di stare a stretto contatto con la natura marittima e lacustre.
            </p>
            <a href="/corsi" class="btn btn-primary w-100">Scopri la nostra storia</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Il corso su misura per te</h2>
            <hr />
            <p>
                Il Canoa Club Rimini propone corsi di gruppo, lezioni individuali ed Open day, per tutti i tipi di
                esigenze, età e capacità. Vuoi provare a salire in un kayak o vuoi migliorare le tue abilità in acqua?
                Accedi alla sezione CORSI.
            </p>
            <a href="/corsi" class="btn btn-primary w-100">Scopri i corsi</a>
        </div>
        <div class="col-md-6">
            <!-- Image here -->
        </div>
    </div>
</div>

{{ end }}