{{ define "main" }}

{{- partial "header.html" . -}}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 home-block home-image-block p-0">
            <!-- Image here -->
            <img src="/images/home_about_us.jpg" alt="">
        </div>
        <div class="col-md-6 home-block text-justify p-5 bg-light">
            <h2>Navighiamo da tempo in queste acque</h2>
            <hr class="w-100" />
            <p>
                La A.S.D <strong>Canoa Club Rimini</strong>, iscritta alla Federazione Italiana Canoa e Kayak (FICK) e
                al CONI, è attiva sul territorio regionale ormai da 40 anni. La società organizza attività ludiche e
                sportive, in mare, in fiume ed in acque piatte.
            </p>
            <p>
                Il C.C.R. promuove l’avvicinamento a questo meraviglioso sport a tutti coloro che vogliono provare
                l’esperienza di stare a stretto contatto con la natura marittima e lacustre.
            </p>
            <a href="/corsi" class="btn btn-primary btn-pill w-100 p-2 mt-3">Scopri la nostra storia</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 home-block order-1 order-md-1 order-sm-2 p-5 bg-light">
            <h2>Il corso su misura per te</h2>
            <hr class="w-100" />
            <p>
                Il Canoa Club Rimini propone corsi di gruppo, lezioni individuali ed Open day, per tutti i tipi di
                esigenze, età e capacità.
            </p>
            <p>
                Vuoi provare a salire in un kayak o vuoi migliorare le tue abilità in acqua? Clicca qui sotto e scopri
                tutti i nostri corsi!
            </p>
            <a href="/corsi-canoa-kayak" class="btn btn-primary btn-pill w-100 p-2 mt-3">Scopri i corsi</a>
        </div>
        <div class="col-md-6 home-block home-image-block order-2 order-md-2 order-sm-1 p-0">
            <!-- Image here -->
            <img src="/images/home_courses.jpg" alt="">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center bg-light py-5">
            <h2>Domande? Contattaci!</h2>
            <p>Visita la pagina dei contatti cliccando qui sotto, saremo felici di rispondere ad ogni domanda!</p>
            <a href="/contatti" class="btn btn-primary btn-pill py-2 px-5 mt-3">Contattaci ora</a>
        </div>
    </div>
</div>

{{ end }}